  <section class="lifestyle" id="lifestyle">
    <div class="container">
      <div class="titre">
          <h2 class="titre-texte"><span>Life</span>Style</h2>
          <p>Although today's woman has more information than ever about how to be happy and healthy, it can be a little overwhelming to try and keep track of it all.</p>
      </div>
      <div class="contenu">
        <div class="sport-activities">
          <p class="paragraph-text"><span>Exercise:</span><br>
            Here's the deal: exercise (i.e., elevating your heart rate and breaking a sweat) is Miracle Grow for the brain. Regular, aerobic exercise remodels our brains for peak performance by decreasing stress, lifting your mood, and sharpening your intellect.
            Overall, it simply helps you function better as a person.</p>
          <div class="images">
             <div class="box">
              <div class="imbox">
                  <img src="../../../assets/images/lifes1.jpg">
              </div>
              <div class="text">
                  <h3>Sport activity</h3>
              </div>
          </div>
          <div class="box">
              <div class="imbox">
                  <img src="../../../assets/images/lifes2.jpg" alt="">
              </div>
              <div class="text">
                  <h3>Sport activity</h3>
              </div>
          </div>
          </div>
        </div>
        <div class="relation-ship">
          <p class="paragraph-text"><span>Connective relationships:</span> <br>
            We are all social animals and we crave positive and connective relationships. A healthy relationship helps increase one's confidence and ability to grow as a resilient person.
            So, if you've finally entered a healthy, loving, stable relationship, that experience can shift the brain's old negative beliefs allowing for a tangible shift in your core self.</p>
          <div class="images">
             <div class="box">
              <div class="imbox">
                  <img src="../../../assets/images/families.jpg">
              </div>
              <div class="text">
                  <h3>Relation Ship</h3>
              </div>
          </div>
          <div class="box">
              <div class="imbox">
                  <img src="../../../assets/images/friends.jpg" alt="">
              </div>
              <div class="text">
                  <h3>Relation Ship</h3>
              </div>
          </div>
          </div>
        </div>
          <div class="relation-ship">
            <p class="paragraph-text"> <span>mental activity:</span><br>
              Just as exercise and sleep are building blocks for your brain, so is stimulating the mind. Whether it's via work or creative hobbies, using your mind to meet specific goal-driven tasks not only helps the fibers of your brain to connect in a deeper way, but it helps you feel accomplished as a human being.</p>
            <div class="images">
              <div class="box">
                <div class="imbox">
                    <img src="../../../assets/images/lifes5.jpg" alt="">
                </div>
                <div class="text">
                    <h3>Montal Activity</h3>
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="../../../assets/images/lifes6.jpg" alt="">
                </div>
                <div class="text">
                    <h3>Montal Activity</h3>
                </div>
            </div>
            </div>
          </div>
          <div class="relation-ship">
            <p class="paragraph-text"><span>Playtime:</span> <br>
              Children are not the only ones who need playtime — adults need playtime too!
              When was the last time you got so lost in the moment that nothing else mattered? Allowing yourself time to be creative and spontaneous and soak in new and innovative experiences is essential to the human spirit and gives one a sense of balance in life.</p>
            <div class="images">
              <div class="box">
                <div class="imbox">
                    <img src="../../../assets/images/lifes3.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Special salade</h3>
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="../../../assets/images/lifes4.jpg" alt="">
                </div>
                <div class="text">
                    <h3>Special salade</h3>
                </div>
            </div>
            </div>
          </div>
      </div>
      <div class="titre">
          <a href="#" class="btn1">Voir Plus</a>
      </div>
    </div>
</section>

