<section class="block apropos" id="apropos">
  <div class="container">
    <div class="row">
        <div class="col50">
            <h2 class="titre-texte"><span>What</span> About Us</h2>
            <p>
              Country Woman is a bimonthly magazine with subscribers across the United States and Canada. Published since 1970 for women who live in or long for the country, this magazine celebrates their diversity, strength and spirit.

Positive, upbeat, entertaining and informative, Country Woman reflects the many roles and interests of its readers through profiles of women and their lifestyle.

Each issue features a large food section filled with mouth-watering, down-home recipes for today’s cooks, including winning recipes for the issue’s contest. There are also ideas for easy and frugal country decorating, casual entertaining, fun and appealing crafts, garden tips, lifestyle stories, health advice, puzzles, nostalgia and more. <br>

Read more: http://www.lovethecountry.com/about-us/#ixzz4CLCRCNDA.
            </p>
        </div>
        <div class="col50">
            <div class="img">
                <img src="../../../assets/images/banner/cover.jpg" alt="image">
            </div>
        </div>
    </div>
  </div>
</section>

