header * {
  border: 1px solid red;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.8rem;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  box-shadow: var(--shadow-medium);
}
.logo {
  height: 5.7rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid var(--second--color);
  display: flex;
  align-items: center;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  &.is-active {
    flex-direction: column;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(241, 189, 211);
    width: 40%;
    z-index: 10000;
	}
}
.navbar li {
  list-style: none;
}
.navbar li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 11px 10px;
  z-index: 2;
  position: relative;
  min-width: 120px;
  display: inline-block;
  text-align: center;
}
.navbar li a.activelink span:first-child{
 width: 100%;
}
.navbar li a span:first-child{
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #2a0723;
  border-radius: 2px;
  z-index: 1;
}
.navbar li a span:last-child{
  position: relative;
  text-align: center;
  z-index: 2;
}
.btn-register {
  background-color:var(--second--color);
  margin-left: 20px;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 35px;
}
header .nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.label {
  width: 65px;
  background: var(--second--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 0px 1px #333;
}
.label .ball {
  background: var(--white);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  position: absolute;
  transform: translateX(0px);
  transition: transform 0.4s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  margin-left: 1px;
}
.checkbox:checked + .label .ball {
  transform: translate(33px);
}
.checkbox {
  display: none;
}
.fas {
  line-height: 31px;
  margin: 0 2px;
}
.fa-moon {
  color: #333;
  margin-left: 2px;
}
.fa-sun {
  color:var(--white);
}
.navbar-container {
  display: flex;
}
.burguer {
  display: none;
	visibility: hidden;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.65);
	transition: all 0.3s ease-in-out;

	&.is-active {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: 991px) {
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    order: 1;
    width: 1.75rem;
    height: auto;
    border: none;
    outline: none;
    visibility: visible;

    &-line {
      display: block;
      cursor: pointer;
      width: 100%;
      height: 3px;
      margin: 6px auto;
      transform: rotate(0deg);
      background-color: var(--main-color);
      transition: all 0.3s ease-in-out;
    }
  }
  .navbar, .toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

.animate-link{
  animation: animlink 0.5s ease forwards;
  animation-iteration-count: 1;
}
@keyframes animlink {
  0%{
    width: 0%;
  }
  50%{
    width: 50%;
  }
  100%{
    width: 100%;
  }
}
