<header>
    <div class="nav-icons">
      <div class="burger" id="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
      <a href="#">
        <img class="logo" src="../../../assets/images/logo.jpg">
      </a>
      <div class="toggle">
        <input type="checkbox" class="checkbox" id="dark-mode">
        <label for="dark-mode" class="btn label">
            <li class="fas fa-moon fa-lg"></li>
            <li class="fas fa-sun fa-lg"></li>
            <div class="ball"></div>
        </label>
      </div>
      <span class="overlay"></span>
    </div>
    <div class="navbar-container">
      <ul class="navbar">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="cosmetic">Cosmetic</a></li>
        <li><a routerLink="lifestyle">Lifestyle</a></li>
        <li><a routerLink="kitchen">Kitchen</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
      <a href="#" class="btn btn-register">Register</a>
    </div>
</header>
