<header>
    <div class="nav-icons">
      <div class="burger" id="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
      <a href="#">
        <img class="logo" src="../../../assets/images/logo.jpg">
      </a>
      <div class="toggle">
        <input type="checkbox" class="checkbox" id="dark-mode">
        <label for="dark-mode" class="btn label">
            <li class="fas fa-moon fa-lg"></li>
            <li class="fas fa-sun fa-lg"></li>
            <div class="ball"></div>
        </label>
      </div>
      <span class="overlay"></span>
    </div>
    <div class="navbar-container">
      <ul class="navbar">
        <li><a routerLink="/" data-scroll="home"><span></span><span>Home</span></a></li>
        <li><a routerLink="/about" data-scroll="apropos"><span></span><span>About Us</span></a></li>
        <li><a routerLink="lifestyle" data-scroll="articles"><span></span><span>Actualities</span></a></li>
        <li><a routerLink="news" data-scroll="lifestyle"><span></span><span>Lifestyle</span></a></li>
        <li><a routerLink="cosmetic" data-scroll="cosmetic"><span></span><span>Cosmetic</span></a></li>
        <!-- <li><a routerLink="kitchen" data-scroll="kitchen"><span></span><span>Kitchen</span></a></li> -->
        <li><a routerLink="contact" data-scroll="contact"><span></span><span>Contact</span></a></li>
      </ul>
      <a href="#" class="btn btn-register">Register</a>
    </div>
</header>
