<section class="block contact" id="contact">
  <div class="container">
     <div class="titre-noir">
      <h2 class="titre-text"><span>C</span>ontact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="formdiv">
      <div class="contactform">
        <h3>Envoyer un message</h3>
        <div class="inputboite">
            <input type="text" placeholder="Nom">
        </div>
        <div class="inputboite">
          <input type="text" placeholder="email">
        </div>
        <div class="inputboite">
          <textarea placeholder="message"></textarea>
        </div>
        <div class="inputboite">
            <input type="submit" value="envoyer">
        </div>
    </div>
    </div>
  </div>
</section>
